---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Research",
};
---

<PageLayout meta={meta}>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<h1 class="title mb-12">Equilibrium Responses of the Global Meridional Overturning 
	Circulation (GMOC) to Radiative Forcing
	</h1>

	<p class="mb-4">
	As a Ph.D. student, my central research focus is on the highly nonlinear behaviour of the 
	largest ocean circulation system on Earth: the Global Meridional Overturning Circulation (GMOC). 
	This circulation behaves akin to a conveyor belt and maps the connections between various components 
	of Earth’s surface and deep ocean circulation, and the corresponding transports of heat, carbon, and nutrients.
	Furthermore, the GMOC is coupled to other spheres of the climate system, principally the atmosphere 
	and cryosphere, and hence regulates climate over a vast range of timescales, from decades to millennia.
	</p>
	
	<h2 class="text-xl font-semibold mt-8 mb-2">The Equilibrium Response</h2>

	<p class="mb-4">
	The GMOC's long-term response to external forcing remains poorly understood, in part 
	since the relevant processes unfold over timescales far beyond those accessible 
	in state-of-the-art climate simulations. This leaves many interesting questions relatively open:

	<p class="mb-4">
	1) How many distinct equilibria does the climate system have, corresponding to different equilibria of the GMOC, 
	even before changes in continental ice sheets, vegetation, or orography are considered?
	</p>

	<p class="mb-4">
	2) Are there conditions under which the ocean meridional overturning circulation does
	not have any stable equilibria?
	</p>

	<p class="mb-4">
	3) How long must a coupled climate model be integrated, after an applied perturbation, to reach a true equilibrium? 
	</p>


	<h2 class="text-xl font-semibold mt-8 mb-2">CESM1 Simulations</h2>

	<p class="mb-4">
	We perform fully-coupled simulations using the 
	<a class="cactus-link inline-block"
		href="https://www.cesm.ucar.edu/"
		rel="noreferrer"
		target="_blank">Community Earth System Model</a>
	(CESM1.0.4), systematically 
	exploring warm and cold climate states (\(0.35\times CO_2 \) up to \(16\times CO_2  \)). We have also extended the 
	integration length beyond previous studies: to date producing more than 150,000 years of 
	fully-coupled climate model output, with several individual experiments approaching 20,000 years in duration.
	This provides us with a unique model laboratory to study equilibrium timescale phenomena. 
	</p>

	<h2 class="text-xl font-semibold mt-8 mb-2">Rich Quasi-equilibrium Behaviour</h2>

	<p class="mb-4">
	First considering the AMOC - considered the archetypal climate tipping point - we observed the 
	well-documented rapid transition to a weaker state in response to abrupt global warming. 
	In this model 
	<a class="cactus-link inline-block"
		href="https://doi.org/10.1007/s00382-024-07185-3"
		rel="noreferrer"
		target="_blank">the AMOC eventually recovers </a>
	to a doubling (\( 2\times CO_2 \); after 850 years) and quadrupling (\( 4\times 
	CO_2 \); after 3,500 years) of atmospheric \(CO_2 \), but remains in a weaker state even after 20,000 years of integration
	in \( 8\times CO_2 \).
	</p>

	<p class="mb-4">
	Our work using this model has revealed a far richer array of dynamics in the GMOC. For instance, during equilibration
	to an abrupt \( 4\times CO_2 \) we observed the spontaneous activation of a 
	<a class="cactus-link inline-block"
		href="https://doi.org/10.1175/JCLI-D-23-0393.1"
		rel="noreferrer"
		target="_blank">Pacific Meridional Overturning Circulation</a>
	(PMOC), which is not present in the modern climate. 
	</p>

	<p class="mb-4">
	In global cooling experiments, for values of \(CO_2\) between \(0.5\times\) and \(0.56\times\)
	the pre-industrial, we observe spontaneous
	<a class="cactus-link inline-block"
		href="https://doi.org/10.1175/JCLI-D-24-0377.1"
		rel="noreferrer"
		target="_blank">Dansgaard-Oeschger-like Events</a>
	closely resembling the millennial-scale variability observed for colder climates in the paleoclimate record. An even more exotic transition 
	to a state characterised by millennial-scale variability - this time driven in the 
	Southern Ocean - is observed in several experiments (\(2\times CO_2, 1.95\times CO_2, ... \)) following many thousands
	of years of numerical integration.
	</p>

	<p class="mb-4">
	Other interesting topics that we've approached with this dataset include equilibrium climate sensitivity (with
	<a class="cactus-link inline-block"
		href="https://nicolefeldl.com/"
		rel="noreferrer"
		target="_blank">Nicole Feldl</a>);
		the role of the AMOC in the last deglaciation; long-term changes in equatorial SST gradients;
		and state dependence in AMOC variability.
	</p>

	</div>
</PageLayout>
