---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Research",
};
---

<PageLayout meta={meta}>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <h1 class="title mb-12">Upper Arctic Ocean Dynamics and Vertical Heat Fluxes</h1>

    <p class="mb-4">
    Over recent decades, the Arctic Ocean's Canada Basin has been 
    <a class="cactus-link inline-block"
		href="https://doi.org/10.1126/sciadv.aat6773"
		rel="noreferrer"
		target="_blank">accumulating heat</a>.
    Although the stored heat is sufficient to melt the overlying sea ice, it remains trapped beneath the 
    surface ocean mixed layer due to the strong salinity stratification in the cold polar ocean.
    </p>

    <p class="mb-4">
	For my minor discourse at Yale with
    <a class="cactus-link inline-block"
		href="https://earth.yale.edu/profile/mary-louise-timmermans"
		rel="noreferrer"
		target="_blank">Mary-Louise Timmermans</a>, 
    I have been analysing <i>in-situ</i> 
	<a class="cactus-link inline-block"
		href="https://www2.whoi.edu/site/itp/"
		rel="noreferrer"
		target="_blank">observations</a>
	to understand the role of upper ocean dynamics for vertical heat fluxes in the Canada Basin, in the Western Arctic. 
    </p>

    <h2 class="text-xl font-semibold mt-8 mb-2">Problem Description</h2>

    <p class="mb-4">
    More here soon!
    </p>

    <!--
    <img src="/Keith_Edgar_Equations_Fig1.png" alt="My figure" class="my-6 mx-auto max-w-full" />
    -->

    </p>


	</div>
</PageLayout>
