---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "CV",
};
---


<PageLayout meta={meta}>
	<h1 class="title mb-12">Short CV</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Below is a short summary of my cv - a full version can be found <a class="cactus-link" href="/full_cv.pdf"" target="_blank">here</a>!
		</p>

		<h2 class="text-xl font-semibold mt-8 mb-2">Education</h2>

		<h3 class="text-lg font-medium mt-4 mb">Yale University</h3>
		<p>Doctor of Philosophy (Ph.D.), Atmosphere, Ocean, and Climate Dynamics (2021 - Present).</p>

		<h3 class="text-lg font-medium mt-4 mb">Imperial College London</h3>
		<p>Master of Science (MSci.), Physics (2017 - 2021).</p> 

		<h2>Research Experience</h2>

		<h3 class="text-lg font-medium mt-4 mb">Department of Earth and Planetary Sciences, Yale University</h3>
		<p>Graduate Research and Teaching Assistant (2021 - Present).<p>

        <h3 class="text-lg font-medium mt-4 mb">Woods Hole Oceanographic Institution</h3>
		<p>Summer Fellow in Geophysical Fluid Dynamics (2024).</p>

        <h3 class="text-lg font-medium mt-4 mb">Department of Physics, Imperial College London</h3>
		<p>Undergraduate Research Assistant (2019).</p>

        <h2>Publications</h2>

        <p>
        <b>P. E. Curtis</b>, A. V. Fedorov (2025), Dansgaard–Oeschger Events under Global Cooling without Continental Ice Sheets. 
        <i>Journal of Climate</i>, <b>38</b>(17), 4299-4313.
        <a class="cactus-link" href="https://doi.org/10.1175/JCLI-D-24-0377.1" target="_blank">link</a>
        </p>

        <p>
        <b>P. E. Curtis</b>, A. V. Fedorov (2024b), Collapse and slow recovery of the Atlantic Meridional Overturning Circulation 
        (AMOC) under abrupt greenhouse gas forcing. 
        <i>Climate Dynamics</i>, <b>62</b>(7), 5949-5970.
        <a class="cactus-link" href="https://doi.org/10.1007/s00382-024-07185-3" target="_blank">link</a>
        </p>

        <p>
        <b>P. E. Curtis</b>, A. V. Fedorov (2024a), Spontaneous Activation of the Pacific Meridional Overturning Circulation (PMOC) 
        in Long-Term Ocean Response to Greenhouse Forcing. 
        <i>Journal of Climate</i>, <b>37</b>(5), 1551-1565.
        <a class="cactus-link" href="https://doi.org/10.1175/JCLI-D-23-0393.1" target="_blank">link</a>
        </p>

        <p>
        <b>P. E. Curtis</b>, P. Ceppi, G. Zappa (2020), Role of the mean state for the Southern Hemispheric jet stream 
        response to CO2 forcing in CMIP6 models. 
        <i>Environmental Research Letters</i>, <b>15</b>(6), 064011.
        <a class="cactus-link" href="https://doi.org/10.1088/1748-9326/ab8331" target="_blank">link</a>
        </p>

        <p> <i>Some in review/in preparation (.pdfs available on request)</i>

        <p>
        <b>P. E. Curtis</b>, T. Schiminovich, A. V. Fedorov, W. Liu, Millennial Variability and
        Abrupt Changes with Origins in the Southern Ocean. <i>Manuscript under review</i>.
        </p>

        <p>
        <b>P. E. Curtis</b>, A. V. Fedorov, N. Feldl, Constant Equilibrium Climate Sensitivity
        (ECS) in Ultralong Simulations of a Wide Range of Climates in CESM1. 
        <i>Manuscript under review</i>.
        </p>

        <p>
        <b>P. E. Curtis</b>, M.-L. Timmermans, S. T. Cole, A. J. K. Yang, Partitioning the Influences of Surface-layer 
        and Intrahalocline Processes on Episodic Mechanically-driven Mixing at the Base of the Arctic Ocean’s Surface Mixed Layer.
        <i>Manuscript in preparation for Geophysical Research Letters</i>.
        </p>

        <p>
        <b>P. E. Curtis</b>, A. V. Fedorov, Playing the Long Game: Deep Ocean Equilibration Timescales Quantified
        through Ideal Age Tracer.
        <i>Manuscript in preparation for Geophysical Research Letters</i>.
        </p>

        <p> <i>Non-refereed</i>
    
        <p>
        <b>P. E. Curtis</b>, Idealised Models for Moist Convection <i>WHOI GFD Summer Program Annual Proceedings</i>, 2024.
        <a class="cactus-link" href="https://gfd.whoi.edu/wp-content/uploads/sites/18/2025/12/2024-GFD-Volume-Online-version-reduced.pdf" target="_blank">pages 272-304 here</a>
        </p>

        <h2>Awards and Fellowships</h2>

        <p>WCRP Fellowship, Yale Jackson School of Global Affairs (2025 - 2026).</p>
        <p>Elias Loomis Prize, Yale University (2024).</p>
        <p>GFD Fellowship, Woods Hole Oceanographic Institution (2024).</p>
        <p>NASA FINESST Graduate Fellowship (2023 - 2026).</p>
        <p>Ludlam Prize, Imperial College London (2021).</p>

	</div>
</PageLayout>